@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme inline {
  /*Colors */
  --color-shade-one: #ece0b9;
  --color-shade-two: #baaf89;
  --color-shade-three: #8a805c;
  --color-shade-four: #5c5433;
  --color-shade-five: #322c0c;
  --color-text: oklch(0.15 0 70);

  /*Spacing*/
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 56px;
  --spacing-xxxl: 80px;

  /*Fonts*/
  --font-name: "MonteCarlo", cursive;
  --font-heading: "Sacramento", cursive;
  --font-heading2: "Spectral", serif;
  --font-text: "Inter", sans-serif;

  /*Text Sizes*/
  --text-size-xs: 10px;
  --text-size-sm: 12px;
  --text-size-md: 16px;
  --text-size-lg: 20px;
  --text-size-xl: 24px;
  --text-size-xxl: 30px;
  --text-size-heading: 48px;
}

body {
  background: var(--color-shade-two);
}
