.container {
  min-height: 100vh;
  background: white;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 3rem 3rem;
}

@media (max-width: 968px) {
  .content {
    padding: 0 2rem 2rem;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 0 1.5rem 1.5rem;
  }
}
